@import url('/dfcusa-pm/app/webroot/js/notyfy/jquery.notyfy.css');
@import url('/dfcusa-pm/app/webroot/js/notyfy/themes/default.css');
@import url('/dfcusa-pm/app/webroot/js/summernote/summernote.css');

form {
  padding: 15px;
}

.hide {
  display: none !important;
}

.hbox {
  padding-bottom: 50px;
}

.navbar-header {
  width: 95px;
}

#navbar_fids {
  width: 140px;
}

.btn {
  &.marginButton {
    margin-left: 5px;
  }
  &.marginButtonRight {
    margin-right: 5px;
  }
  &.rightAlign {
    float: right;
  }
}

.nav-bar {
  .nav-brand {
    background-color: #FFF;
  	width: 95px;
    img {
    	width: 80px;
      margin-left: 0px;
    	top: 1px;
    	max-width: 100%;
    	height: auto;
      max-height: none !important;
    }
  }
}

.header {
  border-top: 1px solid #f1f1f1;
}

.footer {
  position: fixed !important;
}

.projectName {
  position: absolute;
  color: #666;
  font-size: 12pt;
  left: 120px;
  top: 14px;
}

.projectPanel {
  min-width: 700px;
  padding-bottom: 0px;
  p {
    font-size: 10pt !important;
    line-height: 14pt !important;
  }
}

.stageContainer {
  margin: 20px 5% 20px 5%;
  .panel-body {
    padding-top: 0px;
  }
  li:not(.step) {
    margin-bottom: 10px !important;
  }
  .sectionText {
    a[href^="http://"],
    a[href^="https://"]{
      color: #428bca;
      text-decoration: underline;
    }
    .btn {
      text-decoration: none !important;
    }
  }
}

.float {
  float: right;
  margin: 0 0 10px 20px;
}

.skill {

}

.activities {
  border-top: 1px solid #f1f1f1;
  margin-top: 20px;
  padding-top: 20px;
  h4 {
    margin-bottom: 10px;
  }
  &.leftMargin {
    .activity {
      margin-left: -14px !important;
    }
  }
}

.activity {
  float: left;
  width: 380px;
  margin-top: 10px;
  .panel {
    padding-top: 13px;
  }
  .panel-body {
    min-height: 210px;
    height: 250px;
    padding-top: 0px !important;
    p {
      font-size: 10pt !important;
      line-height: 14pt !important;
    }
  }
  .panel-footer {
    padding: 10px 0px !important;
    height: 25px;
    .label {
      height: 10px !important;
      padding: 5px !important;
      margin: 1px 5px 3px 2px !important;
      font-size: 8pt;
      color: #fff;
    }
  }
  .title {
    line-height: 35px;
  }
}



form {
  margin: 20px;
}

.modal-body {
  form {
    margin: 0px 30px 0px 0px !important;
    select {
      width: 105%;
    }
  }
  .error-span {
    margin-top: 10px;
    color: red;
  }
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.padded {
  padding: 15px;
}

.profilePic {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.profilePicSmall {
  width: 25px;
  height: 25px;
  &.padded {
    margin: 0px 10px 0px 10px;
  }
}

.htmleditor {
  overflow: scroll;
  height: 300px;
  &.small {
    height: 100px;
  }
  &.large {
    height: 700px;
  }
}

.note-editable {
  background-color: #fff;
}

.generalBox {
  background-color: #fff;
  padding: 20px;
}


.activitiesContent {
  margin: 5px 15px;
}

.items {
  display: block;
}

.listItem {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  width: 97%;
  &.withButton {
    width: 93%;
  }
}

.listItemContainer {
  position: relative;
}

.listItemAdd {
  position: absolute;
  top: 35px;
  left: -5px;
}

.listItemDelete {
  position: absolute;
  top: 10px;
  right: 0px;
  cursor: pointer;
}

.uploadFiles {
  margin-bottom: 0px !important;
}

.input-group {
  margin-right: 20px;
}

.projectDeliverables {
  position: relative;
}

#content {
  p {
    font-family: 'proxima_novalight';
    font-size: 12pt;
    color: #000000;
    line-height: 23pt;
    &.padded {
      padding: 20px;
      border: 1px solid #f1f1f1;
    }
    margin-bottom: 20px;
  }
  ul {
    margin-top: 10px;
    margin-bottom: 20px;
    list-style-type: circle;
    margin-left: 20px;
    &.padded {
      margin-left: 50px;
      margin-right: 50px;
    }
    li {
      font-size: 12pt;
      margin-top: 20px;
      color: #000000;
    }
    ol {
      font-size: 12pt;
      margin-top: 20px;
      color: #000000;
    }
    a {
      color: #3366cc;
    }
    .sublist {
      list-style-type: circle;
      margin-left: 30px;
      li {
        font-size: 10pt;
        line-height: 4pt;
      }
    }
  }

  .steps {
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-top: 0px;
    li {
      margin-top: 0px;
    }
  }

  .projectsList {
    list-style-type: none;
    padding-left: 0px;
    margin: 20px 5% 20px 5%;
    .projectTablet {
      margin-bottom: 40px;
    }
  }
}

.stageicon {
  width: 30px;
  position: absolute;
  right: 200px;
}

.stageicons {
  position: absolute;
  right: 20px;
  top: 8px;
  img {
    width: 35px;
    float: left;
    margin-left: 15px;
  }
}

.projecthome {
  position: relative;
  li {
    position: relative;
    .stageicon {
      position: absolute;
      right: 200px;
    }
  }
}

.carousel {
  width: 550px;
}

#alertModal {
  .modal-body {
    font-size: 12pt;
  }
}

.activitiesHeader {
  position: relative;
}

.searchToolbar {
  position: absolute;
  right: 10px;
  top: 0px;
}

.alert {
  font-size: 10pt;
  &.topMargin {
    margin-top: 20px;
  }
}

#wizard {
  font-size: 12pt;
  .actions {
    margin-top: 10px;
  }
}

small {
  font-size: 10pt;
}

.filesList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    float: left;
  }
  .file {
    border: 1px solid #666;
    width: 200px;
    height: 275px;
    img {
      width: 200px;
      height: 210px;
    }
    .fileName {
      height: 25px;
      line-height: 25px;
      text-align: center;
      font-size: 9pt;
      background-color: #666;
      color: #fff;
      border-top: #666;
    }
    .fileButtons {
      padding: 5px 5px 5px 45px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

